body {
    font-family: Outfit, sans-serif;
}

h1 {
    font-size: 2.75rem;
    font-weight: 400;
}

h2 {
    font-size: 1.9rem;
    font-weight: 500;
}

h3 {
    font-size: 1.65rem;
    font-weight: 600;
}

h4 {
    font-size: 1.35rem;
    font-weight: 700;
}

h5 {
    font-size: 1.2rem;
    font-weight: 800;
}

h6 {
    font-size: 1.1rem;
    font-weight: 900;
}

hr {
    border-top: 1px solid #444;
    width: 100%;
}

.section {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 1.5rem;
}