.grid[data-v-9920d038] {
    display: grid;
    grid-template-columns: repeat(9, 1fr)
}

.main-thread[data-v-e4226c25] {
    width: 50%;
    padding: 1.5rem;
    gap: 2rem
}

.left-side[data-v-e4226c25] {
    display: flex;
    flex-direction: column;
    items: center;
    text-align: center;
    flex: 1
}