@use "../variables";



$btnBorderRadius: $borderRadius;
$btnPadding: .5rem 1rem;
$btnBackgroundColor: $primary;
$btnTextColor: $primaryContrast;
$btnElevation: 0.3px 0.3px 0.4px rgba(0, 0, 0, 0.2),
    0.8px 0.9px 1.3px -1px rgba(0, 0, 0, 0.2),
    2.2px 2.3px 3.3px -2px rgba(0, 0, 0, 0.18),
    5.6px 5.9px 8.5px -3px rgba(0, 0, 0, 0.16);
;

.btn {
    border-radius: #{$btnBorderRadius};
    padding: #{$btnPadding};
    background-color: #{$btnBackgroundColor};
    box-shadow: #{$btnElevation};
    color: #{$btnTextColor};
    text-align: center;
    cursor: pointer;
}